<turbo-frame id='modal'>
  <div class='modal'
    data-controller='turbo-modal'
    data-action="keyup@window->turbo-modal#closeWithKeyboard">
    <article class="modal-dialog" aria-hidden="true">
      <section class="modal-header">
        <h2><%= t('.title') %></h2>
      </section>

      <section class="modal-body">
        <%= render 'form', message: @message %>
      </section>
    </article>
  </div>
</turbo-frame>


