/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Ubuntu;
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
}

section {
  padding: 1rem;
}

article {
  margin: 1rem 0rem;
  padding: 0.5rem;
  border: 1px solid gray;

}

.flex-end {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.btn {
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.btn-red {
  background-color: red;
}

.modal {
  content: "";
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 999;
}

.modal .modal-dialog {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  overflow: visible;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.modal .modal-header,
.modal .modal-body {
  margin: 0rem;
}

.modal .modal-header h2 {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
